### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-mnie index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule co-robie corobie.html
RewriteRule osiagniecia osiagniecia.html
RewriteRule FAQ FAQ.html